@model IEnumerable<MinhasFinancas.Models.ContaBancariaModel>

@{
    ViewData["Title"] = "Consulta - Conta bancária";
}

<h1>Contas bancárias</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroConta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAlteracao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
